<h2>Image Analyzer</h2>
<br>
<p class="description">
  Choose an image for upload to ImageAnalyzer.
</p>
<p class="description">
  ImageAnalyzer will then transfer the image to an S3 bucket and
  leverage AWS Rekognition's Detect Faces functionality. This process delivers a comprehensive image analysis, including
  details on gender, age, smiling expressions, emotions, eyeglasses or sunglasses presence, beard or mustache
  recognition, open eyes, and mouth status.
</p>
<p class="description">
  The outcomes of this analysis are stored neatly in a MariaDB SQL database.
</p>
<br>
<app-upload (dataEvent)="passData($event)"></app-upload>

<br>
<app-image-details [receivedData]="receivedData"></app-image-details>
<br>
<br>
<app-search></app-search>